.robot-button {
  font-size: 2rem;
  padding: 1rem;
}

pre.current {
  background-color: red;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#robot-3d {
  width: 33vw;
  max-height: 100vh;
  aspect-ratio: 1;
}

button:is([aria-current]:not([aria-current=false])) {
  border-bottom: 0.2rem solid var(--pico-color);
}

/* Use stacks to control spacing */
article {
  margin-bottom: 0;
}

[role="search"], [role="group"] {
  margin-bottom: 0;
}